<h1>Dusty Is</h1>

<ul>
    <li><a href="/a/software.engineer">A Software Engineer</a></li>
    <li><a href="/a/gamer">A Gamer</a></li>
    <li><a href="/on/facebook">On Facebook</a></li>
    <li><a href="/on/twitter">On Twitter</a></li>
    <li><a href="/on/linkedin">On LinkedIn</a></li>
    <li><a href="/on/xbox">On Xbox</a></li>
</ul>
<!-- For later... when gifs are working better
<ul>
    <li>Clapping</li>
    <li>Creepy</li>
    <li>Disagreeing</li>
    <li>Confused</li>
    <li>Weird</li>
    <li>Stymied</li>
</ul>
--> 